*{
    min-width: 0px;
}

body {
    font-family: Arial, sans-serif;
}



#searchBox {
    text-align: center;
    margin: 20px;
}

/* super cool focus feature to add to search engine project */
#searchbox:focus-within{
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    
  }

#searchInput {
    width: 50%;
    padding: 10px;
    margin-right: 10px;
}

#searchButton {
    padding: 10px;
}


/* Results CheckList/Table */

#tableWrapper {
    border: 1px solid #eeeeee; /* Adjust the thickness as needed */
    border-radius: 10px; /* The border radius you want */
    overflow: hidden; /* Ensures the content does not flow outside the border radius */
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: separate; /* This prevents the borders from collapsing */
    border-spacing: 0; /* This removes spacing between cells */
    border-radius: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd; /* This styles only the bottom border of each cell */
}

thead th {
    background-color: #f8f8f8; /* Change or remove this as needed */
    border-bottom: 1px solid #ddd; /* This provides a stronger line under the header row */
}


tr:nth-child(even) {
    background-color: transparent; /* This will remove the grey background */
}


tbody tr:hover {
    background-color: #f5f5f5; /* Slight highlight on hover */
}
